<table class='table table-bordered table-striped'>
	<thead>
		<tr>
			<th>Number</th>
			<th>Name</th>
			<th>Image</th>
			<th>Price</th>
			<th>Remark</th>
			<th>Action</th>
		</tr>
	</thead>
	<%= render :partial => "material", :collection => @materials %>
	<% @materials.each do |material| %>
		<tr>
			<td><%= material.number %></td>
			<td><%= material.name %></td>
			<td><%= image_tag material.image_url(:thumb).to_s %></td>
			<td><%= material.price %></td>
			<td><%= material.remark %></td>
			<td>
				<a class='btn btn-mini btn-primary' data-toggle='modal' href='#show-material' >Show</a>
				<a class='btn btn-mini btn-danger' data-toggle='modal' href='#delete-material' >Delete</a>
				<div data-target='#foo' id='show-material' class='modal hide' >
					<div class='modal-header'>
						<a class='close' data-dismiss='modal'><i class='icon-remove'></i></a>
						<h3><span class='badge badge-info'>Material Info</span></h3>
					</div>
					<div class='modal-body'>
						<dl>
						  <dt class='label'><%= Material.human_attribute_name(:number) %></dt>
						  <dd class='show-field'><%= material.number %></dd>
						  <dt class='label'><%= Material.human_attribute_name(:name) %>:</dt>
						  <dd class='show-field'><%= material.name %></dd>
						  <dt class='label'><%= Material.human_attribute_name(:image) %>:</dt>
						  <dd class='show-field'><%= image_tag material.image_url(:max_area).to_s %></dd>
						  <dt class='label'><%= Material.human_attribute_name(:price) %>:</dt>
						  <dd class='show-field'><%= material.price %></dd>
						</dl>
					</div>
					<div class='modal-footer'>
						<a href="#" class='btn' data-dismiss='modal'><i class='icon-remove'></i>Close</a>
					</div>
				</div>
				<div data-target='#foo' id='delete-material' class='modal hide'>
					<div class='modal-header'>
						<a class='close icon-remove' data-dismiss='modal'></a>
						<h3><span class='badge badge-warning'>Warning</span></h3>
					</div>
					<div class='modal-body'> Are you sure you want to delete this material? </div>
					<div class='modal-footer'>
						<%= link_to material, :method => :delete do %>
							<span class='btn btn-danger' data-dismiss='modal'>
								<i class="icon-ok icon-white"></i>
								Yes, I'm sure
							</span>
						<% end %>
						<a href="#" class='btn' data-dismiss='modal'>
							<i class='icon-remove'></i>
							Cancel
						</a>
					</div>
				</div>
			</td>
		</tr>
	<% end %>
</table>